@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html {
    width: 95%;
    margin-left: 2%;
    margin-top: 1%;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100%;
    margin: 0;
}

.container {
    width: 100%;
    text-align: center;
}

.row {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.text-center {
    margin: 25px;
}

.user {
    color: #7d7f7d;
}

.border {
    list-style: none;
    padding: 0;
    border: none;
    background: none;
}

.border li {
    font-family: "Trebuchet MS", "Lucida Sans";
    padding: 7px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 10px solid #f05d22;
    box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .1), -2px -2px 5px 0 rgba(0, 0, 0, .1), 2px 2px 5px 0 rgba(0, 0, 0, .1), -2px 2px 5px 0 rgba(0, 0, 0, .1);
    font-size: 20px;
    letter-spacing: 2px;
    transition: 0.3s all linear;
}

.border li:nth-child(2) {
    border-color: #8bc63e;
}

.border li:nth-child(3) {
    border-color: #fcba30;
}

.border li:nth-child(4) {
    border-color: #1ccfc9;
}

.border li:nth-child(5) {
    border-color: #493224;
}

.border li:nth-child(6) {
    border-color: #909090;
}

.border li:nth-child(7) {
    border-color: #6c92af;
}

.border li:nth-child(8) {
    border-color: #442d25;
}

.border li:nth-child(9) {
    border-color: #ff8243;
}

.border li:nth-child(10) {
    border-color: #8673a1;
}

.border li:nth-child(11) {
    border-color: #2f4f4f;
}

.border li:nth-child(12) {
    border-color: #deaa88;
}

.border li:nth-child(13) {
    border-color: #ebc7df;
}

.border li:nth-child(14) {
    border-color: #926eae;
}

.border li:nth-child(15) {
    border-color: #2a52be;
}

.border li:nth-child(16) {
    border-color: #b76e79;
}

.border li:hover {
    border-left: 10px solid transparent;
}

.border li:nth-child(1):hover {
    border-right: 10px solid #f05d22;
}

.border li:nth-child(2):hover {
    border-right: 10px solid #8bc63e;
}

.border li:nth-child(3):hover {
    border-right: 10px solid #fcba30;
}

.border li:nth-child(4):hover {
    border-right: 10px solid #1ccfc9;
}

.border li:nth-child(5):hover {
    border-right: 10px solid #493224;
}

.border li:nth-child(6):hover {
    border-right: 10px solid #909090;
}

.border li:nth-child(7):hover {
    border-right: 10px solid #6c92af;
}

.border li:nth-child(8):hover {
    border-right: 10px solid #442d25;
}

.border li:nth-child(9):hover {
    border-right: 10px solid #ff8243;
}

.border li:nth-child(10):hover {
    border-right: 10px solid #8673a1;
}

.border li:nth-child(11):hover {
    border-right: 10px solid #2f4f4f;
}

.border li:nth-child(12):hover {
    border-right: 10px solid #deaa88;
}

.border li:nth-child(13):hover {
    border-right: 10px solid #ebc7df;
}

.border li:nth-child(14):hover {
    border-right: 10px solid #926eae;
}

.border li:nth-child(15):hover {
    border-right: 10px solid #2a52be;
}

.border li:nth-child(16):hover {
    border-right: 10px solid #b76e79;
}

.btn {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 7px;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 200px;
}

.btn:hover,
.btn:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.btn:hover {
    transform: translateY(-1px);
}

.btn:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}